@import "../Style/settings.scss";
@import "../Style/tools.scss";
@import "../Style/media_mixin.scss";
.PhotoBlock {
  margin: 6px;
  display: inline-flex;
  img {
    width: 300px;
    height: 300px;
    @include _300 {
      width: 200px;
      height: 200px;
    }
  }
}
