@import "./Style/settings.scss";
@import "./Style/tools.scss";
@import "./Style/media_mixin.scss";
%maxWidth {
  width: 100%;
}

%coverBackgroundSize {
  background-size: cover;
}
%RoverCard {
  background-color: $mars-color-opasity;

  text-align: center;
  border: 7px solid $mars-color;
  width: 100%;
  height: 100%;

  .RoverBlockImg {
    opacity: 1;
    width: 100%;
    height: heigth-change(200);
  }
  .RoverBlockName {
    margin-top: base-spacing(2);
    color: $font-color;
    font-size: font-change(10);

    font-weight: bold;
    @include _300 {
      margin-top: base-spacing(1);
    }
    @include _550 {
      margin-top: base-spacing(1);
    }
    @include _650 {
      margin-top: base-spacing(1);
    }
  }
  .RoverBlockButton {
    cursor: pointer;
    font-weight: 600;
    color: $mars-color;
    width: wigth-change(200);

    height: heigth-change(50);
    font-size: font-change(2);
    background: none;
    background-color: $font-color;

    margin-top: base-spacing(5);
    border-radius: 25px;
    @include _300 {
      width: wigth-change(160);
      margin-top: base-spacing(1);
    }
    @include _550 {
      width: wigth-change(180);
      margin-top: base-spacing(2);
    }
    @include _650 {
      width: wigth-change(180);
      margin-top: base-spacing(1);
    }
    @include _800 {
      width: wigth-change(185);
    }
  }
}
.App {
  height: 1500px;
  @extend %maxWidth;
  .MarsTheme {
    background-attachment: fixed;
    height: heigth-change(800);
    margin-top: base-spacing(5);
    background-image: url(./Img/Mars.gif);
    background-repeat: no-repeat;
    @extend %maxWidth;
    @extend %coverBackgroundSize;
    @include _300 {
      background-size: 100% auto;
      height: heigth-change(130);
    }
    @include _550 {
      background-size: 100%;
      height: heigth-change(230);
    }
    @include _650 {
      background-size: 100%;
      height: heigth-change(270);
    }
    @include _800 {
      background-size: 100%;
      height: heigth-change(350);
    }
    @include _1050 {
      background-size: 100%;
      height: heigth-change(470);
    }
    @include _1200 {
      background-size: 100%;
      height: heigth-change(550);
    }
  }
  .RoverBlockContainer {
    display: grid;
    margin-top: base-spacing(10);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas: ". RoverBlockTitle ." ". RoverBlock ." ". . .";
    background-repeat: no-repeat;
    height: 700px;
    justify-content: space-between;
    background-image: url(./Img/bg-1.jpg);
    @include __300 {
      margin-top: base-spacing(5);
      height: 1200px;
      grid-template-columns: 0.1fr 1fr 0.1fr;
      grid-template-rows: 10px 1500px 50px;
    }
    @include _400_800 {
      margin-top: base-spacing(6);
      grid-template-areas: ". RoverBlockTitle ." ". RoverBlock ." ". . .";
      height: 1200px;
      grid-template-columns: 0.3fr 1fr 0.3fr;
      grid-template-rows: 20px 1fr 50px;
    }

    .RoverBlockTitle {
      align-items: center;
      display: grid;
      grid-template-columns: 0.23fr 1fr;
      grid-template-areas: ". LineTextBlock";
      font-weight: bold;
      font-size: font-change(20);
      color: $mars-color;
      grid-area: RoverBlockTitle;
      @include _300 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      @include _550 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      @include _650 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      @include _800 {
        grid-template-columns: 0.06fr 1fr;
      }
      @include _1050 {
        grid-template-columns: 0.09fr 1fr;
      }
      @include _1200 {
        grid-template-columns: 0.13fr 1fr;
      }

      .LineTextBlock {
        grid-area: LineTextBlock;
        padding-bottom: 20px;
        width: 250px;
        border-bottom: 6px solid $mars-color;

        @include _650 {
          text-align: center;
        }
      }
    }
    .RoverBlock {
      grid-area: RoverBlock;
      background-size: contain;
      grid-template-areas: "Rover1 Rover2 Rover3";
      display: grid;
      margin: 0 base-spacing(30) 0 base-spacing(30);
      height: heigth-change(400);
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 80px;
      @include _300 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
        grid-row-gap: 40px;
        grid-column-gap: 0;
        margin: base-spacing(10) auto;
      }
      @include _400_800 {
        height: heigth-change(200);
      }
      @include _550 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.3fr 1fr 0.3fr;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
        grid-row-gap: 40px;
        grid-column-gap: 0;
        margin: base-spacing(10) auto;
      }
      @include _650 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        margin: base-spacing(10) auto;
        justify-content: space-between;
        grid-row-gap: 30px;
        grid-column-gap: 0;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
      }
      @include _800 {
        margin: base-spacing(10) base-spacing(5) 0 base-spacing(5);
        grid-column-gap: 50px;
      }
      @include _1050 {
        margin: base-spacing(10) base-spacing(10) 0 base-spacing(10);
      }

      @include _1200 {
        margin: base-spacing(10) base-spacing(15) 0 base-spacing(15);
      }

      .Rover1 {
        grid-area: Rover1;
        @extend %RoverCard;
      }
      .Rover2 {
        grid-area: Rover2;
        @extend %RoverCard;
      }
      .Rover3 {
        grid-area: Rover3;
        @extend %RoverCard;
      }
    }
  }

  .ErrorContainer {
    display: none;
    .Error {
      margin-top: base-spacing(10);
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      grid-template-areas: ".ErrorTitle . ";
      .ErrorTitle {
        grid-area: ErrorTitle;
        font-weight: 500;
        color: $mars-color;
        font-size: font-change(10);
        text-align: center;
        @include _300 {
          font-size: font-change(2);
        }
        @include _550 {
          font-size: font-change(7);
        }
        @include _650 {
          font-size: font-change(6);
        }
        @include _800 {
          font-size: font-change(7);
        }
      }
    }
  }
  .PhotosContainer {
    
    display: none;
    .PhotosBlockContainer {background-image: url(./Img/bg-2.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      .PhotoBlockTitle {
        margin: 80px 0;
        font-weight: 600;
        color: $mars-color;
        -webkit-text-stroke: black 2px;
        font-size: font-change(30);
        text-align: center;
      }
      .PhotosBlock {
        justify-content: center;
        display: grid;
        grid-template-columns: 0.3fr 1272px 0.3fr;
        grid-template-areas: ". Photos .";
        @include _300 {
          grid-template-columns: 0.3fr 212px 0.3fr;
        }
        @include _550_650 {
          grid-template-columns: 0.3fr 312px 0.3fr;
        }
        @include _650_1300 {
          grid-template-columns: 0.3fr 648px 0.3fr;
        }

        .Photos {
          text-align: center;
          grid-area: Photos;
        }
      }
    }
  }
  .LoadBlock {
    text-align: center;
    margin-top: base-spacing(7);
    display: none;
    grid-template-areas: ". Load .";
    grid-template-columns: 1fr 0.3fr 1fr;
    @include _300 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _550 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _650 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _800 {
      grid-template-columns: 1fr 100px 1fr;
    }
  }
}
