@import "./Style/settings.scss";
@import "./Style/tools.scss";
@import "./Style/media_mixin.scss";
%maxWidth {
  width: 100%;
}

%coverBackgroundSize {
  background-size: cover;
}
%RoverCard {
  background-color: $mars-color-opasity;

  text-align: center;
  border: 7px solid $mars-color;
  width: 100%;
  height: 100%;

  .RoverBlockImg {
    opacity: 1;
    width: 100%;
    height: heigth-change(200);
  }
  .RoverBlockName {
    margin-top: base-spacing(2);
    color: $font-color;
    font-size: font-change(10);

    font-weight: bold;
    @include _300 {
      margin-top: base-spacing(1);
    }
    @include _650 {
      margin-top: base-spacing(1);
    }
    @include _550 {
      margin-top: base-spacing(1);
    }
  }
  .RoverBlockButton {
    cursor: pointer;
    font-weight: 600;
    color: $mars-color;
    width: wigth-change(200);
    @include _800 {
      width: wigth-change(185);
    }
    height: heigth-change(50);
    font-size: font-change(2);
    background: none;
    background-color: $font-color;
    @include _300 {
      width: wigth-change(160);
      margin-top: base-spacing(1);
    }

    @include _550 {
      width: wigth-change(180);

      margin-top: base-spacing(2);
    }
    @include _650 {
      width: wigth-change(180);

      margin-top: base-spacing(1);
    }
    margin-top: base-spacing(5);
    border-radius: 25px;
  }
}
.App {
  height: 1500px;
  @extend %maxWidth;
  .MarsTheme {
    background-attachment: fixed;
    height: heigth-change(800);
    margin-top: base-spacing(5);
    background-image: url(./Img/Mars.gif);
    @include _1200 {
      background-size: 100%;
      height: heigth-change(550);
    }
    @include _1050 {
      background-size: 100%;
      height: heigth-change(470);
    }
    @include _800 {
      background-size: 100%;
      height: heigth-change(350);
    }
    @include _650 {
      background-size: 100%;
      height: heigth-change(270);
    }
    @include _550 {
      background-size: 100%;
      height: heigth-change(230);
    }
    @include _300 {
      background-size: 100% auto;
      height: heigth-change(130);
    }
    background-repeat: no-repeat;
    @extend %maxWidth;
    @extend %coverBackgroundSize;
  }
  .RoverBlockContainer {
    display: grid;
    margin-top: base-spacing(10);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas: ". RoverBlockTitle ." ". RoverBlock ." ". . .";
    background-repeat: no-repeat;
    height: 700px;
    justify-content: space-between;
    background-image: url(./Img/bg-1.jpg);
    @include _400_800 {
      margin-top: base-spacing(6);
      grid-template-areas: ". RoverBlockTitle ." ". RoverBlock ." ". . .";
      height: 1200px;
      grid-template-columns: 0.3fr 1fr 0.3fr;
      grid-template-rows: 20px 1fr 50px;
    }

    @include __300 {
      margin-top: base-spacing(5);
      height: 1200px;
      grid-template-columns: 0.1fr 1fr 0.1fr;
      grid-template-rows: 10px 1500px 50px;
    }
    .RoverBlockTitle {
      align-items: center;
      display: grid;
      grid-template-columns: 0.23fr 1fr;
      grid-template-areas: ". LineTextBlock";
      font-weight: bold;
      font-size: font-change(20);
      color: $mars-color;
      grid-area: RoverBlockTitle;
      @include _1200 {
        grid-template-columns: 0.13fr 1fr;
      }
      @include _1050 {
        grid-template-columns: 0.09fr 1fr;
      }
      @include _800 {
        grid-template-columns: 0.06fr 1fr;
      }
      @include _650 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      @include _550 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      @include _300 {
        text-align: center;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: " LineTextBlock";
      }
      .LineTextBlock {
        grid-area: LineTextBlock;
        padding-bottom: 20px;
        width: 250px;
        border-bottom: 6px solid $mars-color;

        @include _650 {
          text-align: center;
        }
      }
    }
    .RoverBlock {
      grid-area: RoverBlock;
      background-size: contain;

      display: grid;
      margin: 0 base-spacing(30) 0 base-spacing(30);
      @include _1200 {
        margin: base-spacing(10) base-spacing(15) 0 base-spacing(15);
      }
      @include _1050 {
        margin: base-spacing(10) base-spacing(10) 0 base-spacing(10);
      }

      @include _400_800 {
        height: heigth-change(200);
      }
      height: heigth-change(400);
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 80px;
      @include _800 {
        margin: base-spacing(10) base-spacing(5) 0 base-spacing(5);
        grid-column-gap: 50px;
      }
      grid-template-areas: "Rover1 Rover2 Rover3";

      @include _650 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        margin: base-spacing(10) auto;
        justify-content: space-between;
        grid-row-gap: 30px;
        grid-column-gap: 0;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
      }
      @include _550 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.3fr 1fr 0.3fr;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
        grid-row-gap: 40px;
        grid-column-gap: 0;
        margin: base-spacing(10) auto;
      }
      @include _300 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-areas: ". Rover1 ." " . Rover2 ." " . Rover3 .";
        grid-row-gap: 40px;
        grid-column-gap: 0;
        margin: base-spacing(10) auto;
      }
      .Rover1 {
        grid-area: Rover1;
        @extend %RoverCard;
      }
      .Rover2 {
        grid-area: Rover2;
        @extend %RoverCard;
      }
      .Rover3 {
        grid-area: Rover3;
        @extend %RoverCard;
      }
    }
  }
  .SelectedRover {
    background-image: url(./Img/bg-1.jpg);
    height: 600px;
    margin-top: base-spacing(10);
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". Rover .";
    @include _800 {
      margin-top: base-spacing(7);
    }
    @include __650 {
      margin-top: base-spacing(7);
      height: 800px;
    }
    @include _550 {
      margin-top: base-spacing(7);
      height: 750px;
    }
    @include _400 {
      margin-top: base-spacing(6);
      height: 850px;
    }
    @include __300 {
      margin-top: base-spacing(5);
      height: 850px;
    }
    .Rover {
      grid-area: Rover;
      border-radius: 30px;
      grid-gap: 15px;
      display: grid;
      padding: base-spacing(2);
      grid-template-areas: "RoverImg RoverInfo";
      margin: base-spacing(10) base-spacing(50) 0 base-spacing(50);
      height: heigth-change(300);
      background-color: $mars-color;
      @include __650 {
        grid-template-rows: 1fr 1fr;
        height: 550px;
        grid-template-areas: "RoverImg " "RoverInfo";
        margin: base-spacing(10);
      }

      @include _1200 {
        margin: base-spacing(10) auto;
      }
      @include _1050 {
        margin: base-spacing(10) auto;
      }
      @include _800 {
        margin: base-spacing(10) auto;
      }
      @include _950 {
        margin: base-spacing(10) auto;
      }
      @include _550 {
        margin: base-spacing(10) auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 400px;
        height: 550px;
        grid-template-areas: "RoverImg " "RoverInfo";
        margin: base-spacing(10);
      }
      @include _400 {
        margin: base-spacing(10) auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 340px;
        height: 600px;
        grid-template-areas: "RoverImg " "RoverInfo";
      }
      @include __300 {
        margin: base-spacing(10) auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 250px;
        height: 600px;
        grid-template-areas: "RoverImg " "RoverInfo";
      }

      .RoverImg {
        @include __650 {
          width: 100%;
        }
        @include _550 {
          width: 100%;
        }
        @include __300 {
          width: 100%;
        }
        @include _400 {
          width: 100%;
        }
        width: 300px;
        height: heigth-change(300);
        border-radius: 30px;
        grid-area: RoverImg;
      }
      .RoverInfo {
        text-align: center;
        justify-content: center;
        grid-area: RoverInfo;
        display: grid;
        grid-template-rows: 0.5fr 1fr 0.3fr;
        grid-template-areas: "RoverName" "RoverProperty" "ShowButton";

        .RoverName {
          text-align: center;
          grid-area: RoverName;
          color: $font-color;
          font-size: font-change(50);
          @include _550 {
            font-size: font-change(25);
          }
          @include __300 {
            font-size: font-change(25);
          }
          @include _400 {
            font-size: font-change(25);
          }
          @include _1050 {
            font-size: font-change(40);
          }

          font-weight: bold;
        }
        .RoverProperty {
          @include __300 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "RoverCameras" " SolDay";
          }
          @include _400 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "RoverCameras" " SolDay";
          }
          grid-area: RoverProperty;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "RoverCameras SolDay";
          .RoverCameras {
            grid-area: RoverCameras;
            .CameraTitle {
              font-size: font-change(5);
              color: $font-color;
            }
            .Camera {
              @include __650 {
                height: heigth-change(30);
                width: wigth-change(120);
              }
              @include _550 {
                height: heigth-change(30);
                width: wigth-change(150);
              }
              @include _400 {
                margin-top: base-spacing(1);
                height: heigth-change(25);
                width: wigth-change(130);
              }
              @include __300 {
                margin-top: base-spacing(1);
                height: heigth-change(25);
                width: wigth-change(130);
              }
              margin-top: base-spacing(3);
              text-align: center;
              font-size: font-change(2);
              width: wigth-change(200);
              height: heigth-change(50);
              border-radius: 20px;
            }
          }
          .SolDay {
            grid-area: SolDay;
            .SolDayTitle {
              font-size: font-change(5);
              color: $font-color;
            }
            .SolDayInput {
              @include __650 {
                height: heigth-change(30);
                width: wigth-change(150);
              }
              @include _550 {
                height: heigth-change(30);
                width: wigth-change(150);
              }
              @include _400 {
                margin-top: base-spacing(1);
                height: heigth-change(25);
                width: wigth-change(130);
              }
              @include __300 {
                margin-top: base-spacing(1);
                height: heigth-change(25);
                width: wigth-change(130);
              }
              border-radius: 20px;
              font-size: font-change(2);
              margin-top: base-spacing(3);
              height: heigth-change(50);
            }
          }
        }
        .ShowButton {
          cursor: pointer;
          font-size: font-change(10);
          font-weight: bold;
          border-radius: 20px;
          border: none;
          background-color: none;
          color: $mars-color;
          margin: 0 base-spacing(20);
          grid-area: ShowButton;
          width: wigth-change(150);
          @include __650 {
            margin-top: base-spacing(2);
          }
          @include _550 {
            margin-top: base-spacing(2);
          }
          @include _400 {
            margin-top: base-spacing(5);
          }
          @include __300 {
            margin-top: base-spacing(5);
          }
        }
      }
      .Arrow {
        display: flex;
        align-items: center;
      }
      .ArrowIcon {
        cursor: pointer;
        margin-top: base-spacing(5);
        color: $mars-color;

        font-size: 60px;
        &:hover {
          color: white;
        }
      }
      .ArrowTitle {
        font-weight: 600;
        height: 50px;
        text-align: center;
        cursor: pointer;
        margin-top: base-spacing(7);
        color: $mars-color;
        font-size: 25px;
        &:hover {
          color: white;
        }
      }
    }
  }
  .ErrorContainer {
    display: none;
    .Error {
      margin-top: base-spacing(10);
      display: grid;
      grid-template-columns: 1fr 0.8fr 1fr;
      grid-template-areas: ".ErrorTitle . ";
      .ErrorTitle {
        grid-area: ErrorTitle;
        font-weight: 500;
        color: $mars-color;
        font-size: font-change(10);
        text-align: center;
        @include _800{
          font-size: font-change(7);
        }
        @include _650{
          font-size: font-change(6);
        }
        @include _550{
          font-size: font-change(7);
        }
        @include _300{
          font-size: font-change(2);
        }
          
        
      }
    }
  }
  .PhotosContainer {
   
    display: none;
    .PhotoBlockTitle { margin: 80px 0;
      font-weight: 600;
      color: $mars-color;
      font-size: font-change(20);
      text-align: center;
    }
    .PhotosBlock {
      justify-content: center;
      display: grid;
      grid-template-columns: 0.3fr 1248px 0.3fr;
      grid-template-areas: ". Photos .";

      .Photos {
       text-align: center;
        grid-area: Photos;
      }
    }
  }
  .LoadBlock {
    text-align: center;
    margin-top: base-spacing(7);
    display: none;
    grid-template-columns: 1fr 0.3fr 1fr;
    @include _300 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _550 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _650 {
      grid-template-columns: 1fr 100px 1fr;
    }
    @include _800 {
      grid-template-columns: 1fr 100px 1fr;
    }
    grid-template-areas: ". Load .";
    .Load {
      @include _1050 {
        font-size: 20px;
      }
      @include _800 {
        font-size: 16px;
      }
      @include _650 {
        font-size: 16px;
      }
      @include _550 {
        font-size: 16px;
      }
      @include _300 {
        font-size: 16px;
      }
      font-weight: 600;
      border-radius: 20px;
      height: 50px;
      background: none;
      grid-area: Load;
      color: $mars-color;
      font-size: 25px;
    }
  }
}
